@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.weatherCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif
}

.temps {
    display: flex;
}